.container {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1rem;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  text-align: center;
  background-color: rgb(209, 207, 207);
  color: black;
}
